<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="description" content="chinadaas">
	<meta name="author" content="yichuanzhou">
	<link rel="icon" href="/static/favicon.ico">
	<title>{% block title %}{% endblock %}- Project Name</title>

	<!-- Bootstrap core CSS -->
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/navbar-static-top.css" rel="stylesheet">
	<link href="/static/css/footer.css" rel="stylesheet">
    
	{% block css %} {% endblock %}
</head>

<body>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Project Name</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li id="site_nav_index"><a href="{% url 'index' %}">Home</a></li>
					<li id="site_nav_hold"><a href="{% url 'index' %}">Product</a></li>
					<li id="site_nav_hold"><a href="{% url 'index' %}">Price</a></li>
					<li id="site_nav_about"><a href="{% url 'about' %}">About</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
    {% block content %} {% endblock %}

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row">
						<nav class="col-sm-3 footer-menu">
							<h2><a href="#">Products</a></h2>
							<ul>
								<li><a href="#" title="Product 1">Product 1</a></li>
								<li><a href="#" title="Product 2">Product 2</a></li>
								<li><a href="#" title="Product 3">Product 3</a></li>
							</ul>
						</nav>
						<nav class="col-sm-3 footer-menu">
							<h2><a href="#">About</a></h2>
							<ul>
								<li><a href="#" title="About Us">About Us</a></li>
								<li><a href="#" title="Privacy">Privacy</a></li>
								<li><a href="#" title="Terms">Terms</a></li>
							</ul>
						</nav>
						<nav class="col-sm-3 footer-menu">
							<h2><a href="#">Community</a></h2>
							<ul>
								<li><a href="#" title="Blog">Blog</a></li>
								<li><a href="#" title="Weibo">Weibo</a></li>
								<li><a href="#" title="Contact Us">Contact Us</a></li>
							</ul>
						</nav>

					</div>
					<div id="footer-copyright" class="row">
						<div class="col-sm-12 sub-footer">
							<p class="pull-right"><a href="#">Back to top</a></p>
							<p>&copy; 2014 Company, Inc. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script>
		$(function() {
			var site_nav_url = window.location.pathname;
			var regs = [/^\/$/, /^\/hold.*/, /^\/about\/$/];
			var selectors = ["#site_nav_index", "#site_nav_hold", "#site_nav_about"];
			for (var i = 0; i < regs.length; i++) {
				if (regs[i].exec(site_nav_url)) {
					$(selectors[i]).addClass("active");
					break;
				}
			}
		});
	</script>
	{% block js %} {% endblock %}
</body>
</html>
